
body {
	margin: 0;
	padding: 0;
	/*background: #A060AA url(images/img1.jpg) repeat-y center top;*/
	background: #07010A url(images/page.jpg) repeat-y center top;
	font: italic medium Georgia, "Times New Roman", Times, serif;
	color: #E9EC10;
	/*color: black;*/
}

h1,h2, h3, h4, h5, h6, form {
	margin: 0;
	padding: 0;
}
h2{
	color:red;
}

h1, h2, h3 {
}

h4, h5, h6 {
}
textarea{
	border-color:red;
	border-radius: 10px;
	color: blue;
	font-weight: bold;
	/*background-color:yellow; */
}
form{
	/*background-color: yellow;*/
	border-color: red;
	border-radius: 10px;
}
input{
	border-color: yellow;
	border-radius: 5px;
}
p, ul, ol, blockquote {
	margin-top: 0;
}

a {
	text-decoration: none;
	color: #F4374A;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

/* Header */

#header {
	width: 720px;
	height: 70px;
	margin: 0 auto;
	padding: 20px;
}

/* Logo */
.story{
	color:#E9EC10;
}
#logo {
	float: left;
	width: 410px;
	padding: 0 0 0 0px;
	/*background: url(images/img4.jpg) no-repeat left center;*/
}

#logo h1 {
	font-size: 2.5em;
}

#logo h2 {
	font-size: 1em;
}

#logo a {
	background: none;
}

/* Search */

#search {
	float: right;
	width: 200px;
	padding-top: 13px;
}

/* Content */

#content {
	width: 720px;
	margin: 0 auto;
}

/* Column One */

#colOne {
	float: left;
	width: 470px;
}

/* Column Two */

#colTwo {
	float: right;
	width: 200px;
}

#colTwo ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#colTwo li ul {
	padding: 1em 0;
}

#colTwo li a {
	padding-left: 15px;
	background: url(images/img7.jpg) no-repeat left center;
}

/* Latest Post */

#latest-post {
	padding: 0px 0 0 0;
	/*background: url(images/img5.jpg) no-repeat center top;*/
}

#latest-post .title {
	padding: 0 0 0 0px;
	/*background: url(images/img6.jpg) no-repeat left center;*/
	font-size: 1.4em;
}

#latest-post .title a {
	background: none;
}

#latest-post .posted {
	padding: 0 0 2em 0px; 
	font-size: x-small;
}

#latest-post .posted a {
	background: none;
}

#latest-post .image {
	float: left;
	margin: .3em 1em 1em 0;
}

/* Recent Posts */

#recent-posts {
	padding: 50px 0 0 0;
	/*background: url(images/img5.jpg) no-repeat center top;*/
}

#recent-posts .title {
	padding: 0 0 0 30px;
	/*background: url(images/img6.jpg) no-repeat left center;*/
	font-size: 1.4em;
}

#recent-posts ul {
	margin: 0;
	padding: 20px 0 0 0px;
	list-style: none;
}

#recent-posts li {
	padding: 5px 0 10px 0;
	background: url(images/img2.jpg) repeat-x left bottom;
}

#recent-posts a {
	background: none;
}

/* Footer */

#footer {
	clear: both;
	width: 720px;
	margin: 0 auto;
	padding: 5em 0;
	font-size: xx-small;
}