{% extends "accounts/base.html" %}
{% block content %}
{% load static %}
<div id="header">
  <div id="logo">
    <h1>Welcome {{user}}</h1>
    <!-- <h2><a href="#">Free CSS Templates</a></h2> -->
  </div>
</div>
<div id="content">
  <div id="colOne">
    <div id="latest-post">
      <h2 class="title">Update your day</h2>
      <h3 class="posted">{{yed}}</h3>
      <div class="story"><img src="{% static 'images/img3.jpg' %}" alt="" width="180" height="135" class="image" />
      	<form method="POST"> 
        <!-- Security token by Django -->
        {% csrf_token %} 
  
        <!-- form as paragraph -->
        {% for o in form %}

        <label style="border-radius: 20px;">{{o}}</label>
        <br><br>
        {% endfor %} 
        <input type="submit" value="Update"> 

    </form> 
    
      </div>
    </div>
    <div id="recent-posts">
      <!-- <h3 class="title">More options</h3> -->

      <!-- <ul>
        <li><strong><a>Your writings by date</a></strong><br />
          </li>
        {% for o,i in context.data.items %}
    <a href={{i}}><li>{{o}}</li></a>
{% endfor %}
      </ul>
 -->    </div>
    <div style="clear: both; height: 1px;"></div>
  </div>
  <div id="colTwo">
    <ul>
      <li>
        <h2>Pages</h2>
        <ul>
          <li class="active"><a id="page1" href="/">Home</a></li>
          <li><a id="page2" href="/wholediary">Your entries</a></li>
          <li><a id="page3" href="/accounts/logout">Logout</a></li>
          <!-- <li><a id="page3" href="#">My Favorites</a></li> -->
          <!-- <li><a id="page4" href="#">About Me</a></li> -->
          <!-- <li><a id="page5" href="#">Contact Me</a></li> -->
        </ul>
      </li>
    </ul>
    <div style="clear: both;">&nbsp;</div>
  </div>
</div>


{% endblock %}
<div class="main"> 
    <!-- Create a Form -->
    <form method="POST"> 
        <!-- Security token by Django -->
        {% csrf_token %} 
  
        <!-- form as paragraph -->
        {{ form.as_p }} 
  
        <input type="submit" value="Update"> 
    </form> 
  
</div> 
<!-- <form method="post">
	{% csrf_token %}
    {{form}}
    <input type="submit" value="submit">
</form> -->